blueprints/leak-detection/logic-app-notification-code.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "contentVersion": "1.0.0.0",
        "triggers": {
            "When_events_are_available_in_Event_Hub": {
                "recurrence": {
                    "interval": 5,
                    "frequency": "Second"
                },
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['eventhubs']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/@{encodeURIComponent('evh-aio-sample')}/events/batch/head",
                    "queries": {
                        "contentType": "application/octet-stream",
                        "consumerGroupName": "$Default",
                        "maximumEventsCount": 50
                    }
                }
            }
        },
        "actions": {
            "For_Each_Event": {
                "type": "Foreach",
                "foreach": "@triggerBody()",
                "operationOptions": "Sequential",
                "actions": {
                    "Parse_Leak_Event": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@base64ToString(items('For_Each_Event')?['ContentData'])",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "message_type": { "type": "string" },
                                    "timestamp": { "type": "number" },
                                    "source_device": { "type": "string" },
                                    "inference_result": {
                                        "type": "object",
                                        "properties": {
                                            "model_name": { "type": "string" },
                                            "model_type": { "type": "string" },
                                            "confidence": { "type": "number" },
                                            "inference_time_ms": { "type": "number" }
                                        }
                                    },
                                    "enrichment": {
                                        "type": "object",
                                        "properties": {
                                            "site": { "type": "string" },
                                            "facility": { "type": "string" },
                                            "alert_level": { "type": "string" }
                                        }
                                    }
                                }
                            }
                        },
                        "runAfter": {}
                    },
                    "Get_Active_Leak": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('STORAGE_ACCOUNT_NAME'))}/tables/@{encodeURIComponent('leaksessions')}/entities(PartitionKey='@{encodeURIComponent(body('Parse_Leak_Event')?['source_device'])}',RowKey='@{encodeURIComponent('active')}')"
                        },
                        "runAfter": {
                            "Parse_Leak_Event": ["Succeeded"]
                        }
                    },
                    "Check_New_Leak": {
                        "type": "If",
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@outputs('Get_Active_Leak')['statusCode']",
                                        404
                                    ]
                                }
                            ]
                        },
                        "actions": {
                            "Insert_Entity": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('STORAGE_ACCOUNT_NAME'))}/tables/@{encodeURIComponent('leaksessions')}/entities",
                                    "body": {
                                        "PartitionKey": "@{body('Parse_Leak_Event')?['source_device']}",
                                        "RowKey": "active",
                                        "FirstDetectedAt": "@{utcNow()}",
                                        "LastEventAt": "@{utcNow()}",
                                        "EventCount": 1,
                                        "Confidence": "@{body('Parse_Leak_Event')?['inference_result']?['confidence']}",
                                        "AlertLevel": "@{coalesce(body('Parse_Leak_Event')?['enrichment']?['alert_level'], 'Unknown')}"
                                    }
                                },
                                "runAfter": {}
                            },
                            "Post_Teams_Notification": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['teams']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "recipient": "TEAMS_RECIPIENT_ID",
                                        "messageBody": "<p><strong>🚨 Leak Detection Alert</strong></p><p><strong>Device:</strong> @{body('Parse_Leak_Event')?['source_device']}</p><p><strong>Detected At:</strong> @{utcNow()}</p><p><strong>Confidence:</strong> @{body('Parse_Leak_Event')?['inference_result']?['confidence']}</p><p><strong>Model:</strong> @{body('Parse_Leak_Event')?['inference_result']?['model_name']}</p><p><strong>Alert Level:</strong> @{coalesce(body('Parse_Leak_Event')?['enrichment']?['alert_level'], 'Unknown')}</p><p><strong>Site:</strong> @{coalesce(body('Parse_Leak_Event')?['enrichment']?['site'], 'Unknown')} / @{coalesce(body('Parse_Leak_Event')?['enrichment']?['facility'], 'Unknown')}</p><p><a href=\"CLOSE_LEAK_CALLBACK_URL&device=@{encodeUriComponent(body('Parse_Leak_Event')?['source_device'])}\">✅ Close Leak</a></p>"
                                    },
                                    "path": "/beta/teams/conversation/message/poster/Flow bot/location/@{encodeURIComponent('Group chat')}"
                                },
                                "runAfter": {
                                    "Insert_Entity": ["Succeeded"]
                                }
                            }
                        },
                        "else": {
                            "actions": {
                                "Update_Entity": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuretables']['connectionId']"
                                            }
                                        },
                                        "method": "patch",
                                        "path": "/v2/storageAccounts/@{encodeURIComponent(encodeURIComponent('STORAGE_ACCOUNT_NAME'))}/tables/@{encodeURIComponent('leaksessions')}/entities(PartitionKey='@{encodeURIComponent(body('Parse_Leak_Event')?['source_device'])}',RowKey='@{encodeURIComponent('active')}')",
                                        "body": {
                                            "LastEventAt": "@{utcNow()}",
                                            "EventCount": "@{add(int(body('Get_Active_Leak')?['EventCount']), 1)}",
                                            "Confidence": "@{if(greater(float(body('Parse_Leak_Event')?['inference_result']?['confidence']), float(body('Get_Active_Leak')?['Confidence'])), body('Parse_Leak_Event')?['inference_result']?['confidence'], body('Get_Active_Leak')?['Confidence'])}"
                                        }
                                    },
                                    "runAfter": {}
                                }
                            }
                        },
                        "runAfter": {
                            "Get_Active_Leak": ["Succeeded", "Failed"]
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "parameters": {
            "$connections": {
                "type": "Object",
                "defaultValue": {}
            }
        }
    },
    "parameters": {
        "$connections": {
            "type": "Object",
            "value": {
                "azuretables": {
                    "id": "/subscriptions/SUBSCRIPTION_ID/providers/Microsoft.Web/locations/eastus2/managedApis/azuretables",
                    "connectionId": "/subscriptions/SUBSCRIPTION_ID/resourceGroups/RESOURCE_GROUP/providers/Microsoft.Web/connections/apicon-tbl-PREFIX-ENV-INSTANCE",
                    "connectionName": "apicon-tbl-PREFIX-ENV-INSTANCE",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "eventhubs": {
                    "id": "/subscriptions/SUBSCRIPTION_ID/providers/Microsoft.Web/locations/eastus2/managedApis/eventhubs",
                    "connectionId": "/subscriptions/SUBSCRIPTION_ID/resourceGroups/RESOURCE_GROUP/providers/Microsoft.Web/connections/apicon-evhub-PREFIX-ENV-INSTANCE",
                    "connectionName": "apicon-evhub-PREFIX-ENV-INSTANCE",
                    "connectionProperties": {
                        "authentication": {
                            "type": "ManagedServiceIdentity"
                        }
                    }
                },
                "teams": {
                    "id": "/subscriptions/SUBSCRIPTION_ID/providers/Microsoft.Web/locations/eastus2/managedApis/teams",
                    "connectionId": "/subscriptions/SUBSCRIPTION_ID/resourceGroups/RESOURCE_GROUP/providers/Microsoft.Web/connections/apicon-teams-PREFIX-ENV-INSTANCE",
                    "connectionName": "apicon-teams-PREFIX-ENV-INSTANCE",
                    "connectionProperties": {}
                }
            }
        }
    }
}
